// ========================
// Article
// ========================
.article-tile {
  padding: $spacer / 2;

  .card {
    height: 100%
  }
}

// ========================
// ELEMENTS
// ========================
.article-form__text {
  textarea {
    min-height: 300px;
  }
}

.article__body {
  white-space: pre-line;
}

// ========================
// MODIFIERS
// ========================

// ========================
// UI STATES
// ========================
